#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex:1;
}

html, body{
     background: linear-gradient(135deg, #f3e8ff, #ffffff);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100vw;
}

.page {
  min-height: 100vh;
  background: linear-gradient(135deg, #f3e8ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.container {
  width: 100%;
  max-width: 700px;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);

  padding: 40px;
  border-radius: 24px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 14px;
}

h1 {
  text-align: center;
  color: #5c5cff;
  font-size: 2rem;
  margin-bottom: 0;
  font-family: Arial;
  font-weight: Bold;
}

p {
  text-align: center;
  color: #666;
  margin-top: 0;
  font-family:Arial;
}

label {
  margin-top: 10px;
  font-weight: 600;
  color: #333;
  font-family:Arial;
}

input,
textarea {
  width: 100%;
  padding: 14px;

  border: 2px solid #e0d7ff;
  border-radius: 14px;

  font-size: 1rem;

  outline: none;

  transition: 0.25s ease;
  background: white;
}

input:focus,
textarea:focus {
  border-color: #5c5cff;
  box-shadow: 0 0 0 4px rgba(92, 92, 255, 0.15);
}

textarea {
  min-height: 140px;
  resize: vertical;
}

input[type="file"] {
  padding: 10px;
  background: #fafafa;
}

.addPostbtn {
  margin-top: 15px;
  width: 100%;
  padding: 15px;

  background: linear-gradient(135deg, #5c5cff, #a99bff);
  border: none;
  border-radius: 14px;

  color: white;
  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;

  transition: 0.25s ease;
}

.addPostbtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(92, 92, 255, 0.25);
}

.addPostbtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(135deg, #f3e8ff, #ffffff);
  padding: 30px;
  gap: 20px;
}

